# .env.example

PORT=3000
MONGODB_USER=izzetkeser359
MONGODB_PASSWORD=VlE2Vsvr36nA8PiW
MONGODB_URL=mongodb+srv://izzetkeser359:VlE2Vsvr36nA8PiW@cluster0.u38pi7i.mongodb.net/contactsDB?retryWrites=true&w=majority
MONGODB_DB=contactsDB
